* {
  padding: 0;
  margin: 0;
}

body { background-color: blue; }
.small { display: none; }
.medium { display: none; }
.container { display: flex; }
.sub { display: flex; flex-direction: row;}


#box1 {
  width: 33%;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  /* margin: 5px; */
}

#box2 {
  width: 33%;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  /*  */
}

#box3 {
  width: 33%;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  
}

@media screen and (max-width: 1024px) {
    body { background-color: green; }

    .small { display: none; }
    .medium { display: block; }
    .large { display: none; }

    .container {
          /*flex-wrap: wrap; */
          flex-direction: column;
        }

    #box1 { width: 67%; }
    #box2 { width: 33%; }
    #box3 { width: 100%;}
  }

  @media screen and (max-width: 480px) { /* SMALL */
    body {
      background-color: red;
    }

    .small { display: block; }
    .medium { display: none; }
    .large { display: none; }

    .container { flex-direction: column; }
 
    #box1 { width: 100%; }
    #box2 { width: 100%; }
    #box3 { width: 100%; } 
  }  
